.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fafc;
}

.login-title {
  padding: 0;
  margin: 0;
}

.login-description {
  color: #7a7a7a;
}

.login-description a {
  text-decoration: none;
  color: #3e89ed;
  font-weight: 600;
}

.login-description a:hover {
  color: #0560d8;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 350px;
  box-shadow: -0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 2em;
  padding: 3em 1em 2em;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
}

.input-label {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
}

.input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #333333;
  box-shadow: -0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #d1d5db;
}

.input:hover {
  border: 1px solid #3e89ed;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: auto;
  padding: 0 0 20px;
}

.forgot-password a {
  text-decoration: none;
  color: #3e89ed;
  font-weight: 600;
}

.forgot-password a:hover {
  color: #0560d8;
}

.button {
  width: 90%;
  padding: 10px;

  border: none;
  border-radius: 5px;
  background-color: #3e89ed;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #0560d8;
}

.button:active {
  box-shadow: inset 0px 0px 0px 2px #000;
}
