.input-group-column {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
}

.input-group-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
}

.input-label {
  margin-bottom: 5px;
  /* margin-right: 10px; */
  text-align: start;
  font-weight: 600;
  font-size: 14px;
  color: var(--grey-color);
  min-width: 100px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--grey-color);
  box-shadow: -0 0 var(--black-color), 0 1px 3px 0 var(--box-shadow-color-dark);
  background-color: var(--white-color);
  border: 1px solid var(--border-color-light);
}

.input-auto {
  width: 'auto';
}

.input-sm {
  width: 180px;
}

.input-md {
  width: 250px;
}

.input-lg {
  width: 320px;
}


.input:hover {
  border: 1px solid var(--text-link-color);
}
