@import url(./pages/home.css);
@import url(./pages/login.css);
@import url(./components/header.css);
@import url(./components/nav-link.css);
@import url(./components/button-group.css);
@import url(./components/button.css);
@import url(./components/page-container.css);
@import url(./components/wave-wrapper.css);

:root {
  --main-color: #0a66c2;
  --black-color: #000;
  --white-color: #fff;
  --grey-color: #333;
  --active-text-color-light: #ffffffb3;
  --active-text-color-dark: #000000b3;
  --active-button-bg: #0e3459;
  --hover-button-bg: #16437e;
}

.round {
  border-radius: 50%;
}