@import url(./pages/home.css);
@import url(./pages/auth.css);
@import url(./pages/user.css);
@import url(./components/header.css);
@import url(./components/nav-link.css);
@import url(./components/button-group.css);
@import url(./components/button.css);
@import url(./components/page-container.css);
@import url(./components/wave-wrapper.css);
@import url(./components/text-link.css);
@import url(./components/input.css);
@import url(./components/loader.css);
@import url(./components/not-found.css);
@import url('./components/icon.css');

:root {
  --box-shadow-color-dark: #0000001a;
  --page-bg: #f8fafc;
  --main-color: #0a66c2;
  --black-color: #000;
  --white-color: #fff;
  --grey-color: #333;
  --active-text-color-light: #ffffffb3;
  --active-text-color-dark: #000000b3;
  --active-button-bg: #0e3459;
  --hover-button-bg: #16437e;
  --text-link-color: #3e89ed;
  --text-link-color-hover: #0560d8;
  --border-color-light: #d1d5db;
  --description-color: #7a7a7a;
  --disabled-color-light: #dad6d6b3;
  --disabled-color-dark: #424242b3;
  --success-color: #28a745;
  --warning-color: #e9bd1d;
  --error-color: #f44336;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  width: 350px;
  box-shadow: -0 0 var(--black-color), 0 1px 3px 0 var(--box-shadow-color-dark);
  margin-top: 2em;
  padding: 3em 1em 2em;
}

.round {
  border-radius: 50%;
}

.info { 
  text-align: left;
  padding: 0;
  font-size: .9em;
}

.info:hover {
  text-decoration: underline;
}

.warning-info { 
  color: var(--warning-color)
}
.error-info { 
  color: var(--error-color)
}

*:disabled {
  background-color: var(--disabled-color-light);
}
